.collapsible-header .sn {

  width: 7%;
  font-weight: bold;
  text-align: right;
  margin-right: 3%;
}

.collapsible-header .evt {
  width: 10%;
  font-weight: bold;
}

.collapsible-header .subEvt {
  width: 10%;
}

.collapsible-header .evtsd {
  width: 55%;
  word-break: break-all;
}

.collapsible-body {
  padding: 15px;
}

td, th {
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  width: 90%;
  word-break: break-all;
}

th {
  width: 10%;
}

.dropdown {
  padding-right: 10px;
}

#log-names {
  width: 100%;
}

.search-row .delete-btn {
  margin-top: 20px;
  margin-left: 20px;
}

.log-name-selector {
  width: 100%;
  padding-top: 20px;
  float: left;
}

.page-selector {
  width: 15%;
  padding-top: 20px;
  padding-left: 20px;
  float: right;
}

.page-form { 
}

span.new.badge:not(.left-most) {
  margin-left: 2px;
}
